.add-contact{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px 40px;
}

.add-contact .contact-card img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;

}

.add-contact .contact-card{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding:10px 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #dad8d8;
    transition: 0.3s ease-in-out;
}

.add-contact .contact-card:hover{
    transform: scale(1.01);
}

.add-contact .contact-card .left p{
    font-size: 15px;
}

.add-contact .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.add-contact .top p{
    font-size: 25px;
    font-weight: bold;
}

.add-contact .top input{
    padding: 10px;
    border: 1px solid black;
    border-radius: 30px;
}

.add-contact .top input:focus{
    outline: none;
}

@media (max-width:500px){
    .add-contact .top p{
    font-size: 20px;
   }
}

